In [1]:
import pandas as pd
import tqdm

import re
import requests
from bs4 import BeautifulSoup

import hashlib
import datetime

In [2]:
base_url = 'http://www.curitiba.pr.gov.br/dadosabertos/consulta'

In [3]:
r = requests.get(base_url)

In [4]:
page = BeautifulSoup(r.text, 'html.parser')

In [5]:
__EVENTVALIDATION = page.find("input", {'name': '__EVENTVALIDATION'}).get('value')

In [6]:
__EVENTVALIDATION

'/wEdABKgcz9IYBHfjBYwXgPnnH/S4mKL5o1QRo/FpCKPmYsWJJ6M545mi+eVxYOsufjJuPs5znhzSWYfXU4ugll/AJGuS7DlCF7QoIFOF8dSWE2wXzkiLQS8NWTPNZDV80Z3AzzphndoyDFnIVED7A3KQw9cs48DT8q4XVH83r8Yw95EbJ8/8wAqn890Z+wGGuGKtYqNvjaF5GeBQ6wPsZcNPGG+vCOATgFUUjl7PbiZupqgZarqqZvleoeig3SW/qIZQc18rBNWX+/2+gn/p/KZl5VOeeJP6yluj+9GihNPsLwYKFydP60Kwv8njaL32/dcjKGVE3N9enVlXxlsNkU+46/iYUejXo5tHr9D6UzWxMjqKyKwsIJ0B6TbsdMKWnSs3r9tteqB5Dx8umKZ8iT8Tu0RjLmDzA=='

In [7]:
__VIEWSTATE = page.find("input", {'name': '__VIEWSTATE'}).get('value')

In [8]:
__VIEWSTATE

'/wEPDwUJMzc0Mzc1MzA2DxYEHghpZGZHcnVwbwL/////Dx4IYnVzY2FQb3JkFgJmD2QWAgIDD2QWAgIBDxYCHgZhY3Rpb24FFi9kYWRvc2FiZXJ0b3MvY29uc3VsdGEWDgICDxAPFgYeDURhdGFUZXh0RmllbGQFCk5vbWVQYWdpbmEeDkRhdGFWYWx1ZUZpZWxkBQlVcmxQYWdpbmEeC18hRGF0YUJvdW5kZxYEHglvbmtleWRvd24FQ2lmKElzRW50ZXJLZXkoZXZlbnQpKXtSZWRpcmVjaW9uYXJBY2Vzc29SYXBpZG8odGhpcyk7cmV0dXJuIGZhbHNlO30eB29uY2xpY2sFH1JlZGlyZWNpb25hckFjZXNzb1JhcGlkbyh0aGlzKTsQFQYOQWNlc3NvIFLDoXBpZG8WU2VjcmV0YXJpYXMgZSDDk3Jnw6NvcxFTZXJ2acOnb3MgT24tTGluZRhTZXJ2acOnb3MgcGFyYSBhIEVtcHJlc2EZU2VydmnDp29zIHBhcmEgbyBDaWRhZMOjbxNTaXRlcyBkYSBQcmVmZWl0dXJhFQYADS9zZWNyZXRhcmlhcy8ZL2xpc3RhLXNlcnZpY29zLW9uLWxpbmUvMhEvc2Vydmljb3MvZW1wcmVzYREvc2Vydmljb3MvY2lkYWRhbxwvbGlzdGEtc2l0ZXMtZGEtcHJlZmVpdHVyYS81FCsDBmdnZ2dnZ2RkAgQPD2QWAh8GBUlyZXR1cm4gVmFsaWRhclBlc3F1aXNhKCd0eHRQZXNxdWlzYVRvcG8nLCdjdGwwMCRsbmtQZXNxdWlzYVRvcG8nLCBldmVudCk7ZAIGDw8WAh4EVGV4dAUOU8OhYiwgMTMvMTAvMThkZAIHDw8WAh4ISW1hZ2VVcmwFFX4vaW1hZ2VtL3RlbXBvL3BjLmdpZmRkAggPDxYCHwgFBDI1wrpkZAIJDw8WAh8IBQQxNcK6ZGQCCg9kFg4CAw9kFgQCAQ8WAh8IBXU8YSBocmVmPSIvIiB0YXJnZXQ9Il90b3AiPjxpbWcgc3JjPSIvaW5jbHVkZS9kZXNpZ24vaW1nL3RpdF9wb3J0YWwuZ2lmIiBhbHQ9IlByZWZlaXR1cmEgTXVuaWNpcGFsIGRlIEN1cml0aWJhIiAvPjwvYT5kAgUPFgIeB1Zpc2libGVnFgQCAQ8PFgIeC05hdmlnYXRlVXJsBRJ+L3NlcnZpY29zL2NpZGFkYW9kZAIDDw8WAh8LBRJ+L3NlcnZpY29zL2VtcHJlc2FkZAIGDw9kFgIfBgVdaWYoSXNFbnRlcktleShldmVudCkpe1N1Ym1ldGVyRG9Qb3N0QmFjaygnY3RsMDAkY3BoTWFzdGVyUG9ydGFsJGJ0blBlc3F1aXNhcicpO3JldHVybiBmYWxzZTt9ZAIIDxYCHwgF7Ak8bGk+PGEgaHJlZj0nL2RhZG9zYWJlcnRvcy9jb25zdWx0YS8/Z3J1cG89MCcgPlRvZGFzIGFzIEJhc2VzICgyMCk8L2E+PC9saT48bGk+PGEgaHJlZj0nLy93d3cuY3VyaXRpYmEucHIuZ292LmJyL2RhZG9zYWJlcnRvcy9jb25zdWx0YS8/Z3J1cG89MScgPiBTYcO6ZGUgKDQpPC9hPjwvbGk+PGxpPjxhIGhyZWY9Jy8vd3d3LmN1cml0aWJhLnByLmdvdi5ici9kYWRvc2FiZXJ0b3MvY29uc3VsdGEvP2dydXBvPTInID4gRmluYW5jZWlybyAoMik8L2E+PC9saT48bGk+PGEgaHJlZj0nLy93d3cuY3VyaXRpYmEucHIuZ292LmJyL2RhZG9zYWJlcnRvcy9jb25zdWx0YS8/Z3J1cG89MycgPiBSZWN1cnNvcyBIdW1hbm9zICgxKTwvYT48L2xpPjxsaT48YSBocmVmPScvL3d3dy5jdXJpdGliYS5wci5nb3YuYnIvZGFkb3NhYmVydG9zL2NvbnN1bHRhLz9ncnVwbz00JyA+IEFiYXN0ZWNpbWVudG8gKDEpPC9hPjwvbGk+PGxpPjxhIGhyZWY9Jy8vd3d3LmN1cml0aWJhLnByLmdvdi5ici9kYWRvc2FiZXJ0b3MvY29uc3VsdGEvP2dydXBvPTYnID4gQ3VsdHVyYSAoMik8L2E+PC9saT48bGk+PGEgaHJlZj0nLy93d3cuY3VyaXRpYmEucHIuZ292LmJyL2RhZG9zYWJlcnRvcy9jb25zdWx0YS8/Z3J1cG89NycgPiBHb3Zlcm5vIE11bmljaXBhbCAoMyk8L2E+PC9saT48bGk+PGEgaHJlZj0nLy93d3cuY3VyaXRpYmEucHIuZ292LmJyL2RhZG9zYWJlcnRvcy9jb25zdWx0YS8/Z3J1cG89OCcgPiBUcmFuc3BvcnRlICgxKTwvYT48L2xpPjxsaT48YSBocmVmPScvL3d3dy5jdXJpdGliYS5wci5nb3YuYnIvZGFkb3NhYmVydG9zL2NvbnN1bHRhLz9ncnVwbz05JyA+IEhhYml0YcOnw6NvICgxKTwvYT48L2xpPjxsaT48YSBocmVmPScvL3d3dy5jdXJpdGliYS5wci5nb3YuYnIvZGFkb3NhYmVydG9zL2NvbnN1bHRhLz9ncnVwbz0xMCcgPiBQZXNxdWlzYSBlIFBsYW5lamFtZW50Li4uICgxKTwvYT48L2xpPjxsaT48YSBocmVmPScvL3d3dy5jdXJpdGliYS5wci5nb3YuYnIvZGFkb3NhYmVydG9zL2NvbnN1bHRhLz9ncnVwbz0xMicgPiBTZWd1cmFuw6dhICgxKTwvYT48L2xpPjxsaT48YSBocmVmPScvL3d3dy5jdXJpdGliYS5wci5nb3YuYnIvZGFkb3NhYmVydG9zL2NvbnN1bHRhLz9ncnVwbz0xMycgPiBBZG1pbmlzdHJhw6fDo28gUMO6YmxpY2EgKDIpPC9hPjwvbGk+PGxpPjxhIGhyZWY9Jy8vd3d3LmN1cml0aWJhLnByLmdvdi5ici9kYWRvc2FiZXJ0b3MvY29uc3VsdGEvP2dydXBvPTE0JyA+IExlZ2lzbGHDp8OjbyAoMSk8L2E+PC9saT5kAgoPDxYCHwgFAjIwZGQCDA8WAh8IBVk8aDMgY2xhc3M9ImJ1c2NhLWRhZG9zYWJlcnRvcyI+UmVzdWx0YWRvIGRhIHBlc3F1aXNhIHBvciA8c3BhbiBjbGFzcz0idGVybW8iPjwvc3Bhbj48L2gzPmQCDg8WAh4LXyFJdGVtQ291bnQCAxYGZg9kFhpmDxUBD0Rpc3F1ZSBFY29ub21pYWQCAw8WAh8IBcoDQmFzZSBkZSBkYWRvcyBkbyBQcm9ncmFtYSAiRGlzcXVlIEVjb25vbWlhIi4gRXN0ZSBzaXN0ZW1hIHZpYWJpbGl6YSBvIHNlcnZpw6dvIHByZXN0YWRvIHBlbGEgU2VjcmV0YXJpYSBNdW5pY2lwYWwgZG8gQWJhc3RlY2ltZW50byBkZSBDdXJpdGliYSwgYSBxdWFsIGNvbG9jYSDDoCBkaXNwb3Npw6fDo28gcGFyYSBjb25zdWx0YSBvIHByZcOnbyBkZSAgMzAyIGl0ZW5zIHF1ZSBzw6NvIGNvbGV0YWRvcyBlbSAxNCBzdXBlcm1lcmNhZG9zIGRhIGNpZGFkZS4gQSBsaXN0YSBkb3MgaXRlbnMgcGVzcXVpc2Fkb3Mgw6kgY29tcG9zdGEgcG9yIGfDqm5lcm9zIGFsaW1lbnTDrWNpb3MgY29tbyBob3J0aWZydXRpZ3JhbmplaXJvcywgYmViaWRhcywgbWFzc2FzLCBjYXJuZXMgZSBhaW5kYSBtYXRlcmlhbCBkZSBoaWdpZW5lIGUgbGltcGV6YSwgbGV2YW5kbyBlbSBjb250YSBxdWFudGlkYWRlcyBlIG1hcmNhcy5kAgUPFgIfCAUNQWJhc3RlY2ltZW50b2QCBw8WAh8IBTU8cD48c3Bhbj5SZXNwb25zw6F2ZWw6PC9zcGFuPiAgVGhpYWdvIENhdmljaGlvbGxvPC9wPmQCCQ8WAh8IBTk8cD48c3Bhbj5GcmVxdcOqbmNpYSBkZSBhdHVhbGl6YcOnw6NvOiA8L3NwYW4+U2VtYW5hbDwvcD5kAgsPFgIfCAU8PHA+PHNwYW4+RXNwZWN0cm8gdGVtcG9yYWw6PC9zcGFuPiAgw5psdGltb3MgdHLDqnMgbWVzZXM8L3A+ZAINDxYCHwgFKTxwPjxzcGFuPkdydXBvczogPC9zcGFuPkFiYXN0ZWNpbWVudG88L3A+ZAIPDxYCHwgFNzxwPjxzcGFuPkNhbXBvczogPC9zcGFuPlZlciBubyBkaWNpb27DoXJpbyBkZSBkYWRvczwvcD5kAhEPFgIfCAWJATxwPjxzcGFuPk9ic2VydmHDp8O1ZXM6PC9zcGFuPiAgVGVsZWZvbmUgcGFyYSBpbmZvcm1hw6fDtWVzIHNvYnJlIGEgYmFzZTogNDEgMzM1MC0zODI3LiBFLW1haWw6IHRjYXZpY2hpb2xsb0BzbWFiLmN1cml0aWJhLnByLmdvdi5ici48L3A+ZAITDxYCHwgF/ws8cCBjbGFzcz0nZXNwYWNvJz48c3Bhbj5EYWRvcyBlIHJlY3Vyc29zOjwvc3Bhbj48L3A+PHVsIGNsYXNzPSdpY29uZSc+PGxpPjxhIGhyZWY9Jy8vbXVsdGltaWRpYS5jdXJpdGliYS5wci5nb3YuYnIvZGFkb3NhYmVydG9zL0Rpc3F1ZUVjb25vbWlhLzIwMTgtMTAtMDhfRGlzcXVlX0Vjb25vbWlhXy1fQmFzZV9kZV9EYWRvcy5jc3YnIG9uQ2xpY2s9ImdhKCdzZW5kJywgJ2V2ZW50JywgJ0RhZG9zIEFiZXJ0b3MnLCAnQXJxdWl2byBEaXNxdWUgRWNvbm9taWEgLSBCYXNlIGRlIERhZG9zJyk7IiBjbGFzcz0naWNvIGNzdicgcnVuYXQ9J3NlcnZlcicgaWQ9J2xpbmtBcnF1aXZvJz5EaXNxdWUgRWNvbm9taWEgLSBCYXNlIGRlIERhZG9zPC9hPjxzcGFuPiAoQXR1YWxpemFkbyBlbSAwOC8xMC8yMDE4KTwvc3Bhbj48L2xpPjxsaT48YSBocmVmPScvL211bHRpbWlkaWEuY3VyaXRpYmEucHIuZ292LmJyL2RhZG9zYWJlcnRvcy9EaXNxdWVFY29ub21pYS8yMDE2LTA5LTA2X0Rpc3F1ZV9FY29ub21pYV8tX0RpY2lvbmFyaW9fZGVfRGFkb3MueGxzeCcgb25DbGljaz0iZ2EoJ3NlbmQnLCAnZXZlbnQnLCAnRGFkb3MgQWJlcnRvcycsICdBcnF1aXZvIERpc3F1ZSBFY29ub21pYSAtIERpY2lvbmFyaW8gZGUgRGFkb3MnKTsiIGNsYXNzPSdpY28geGxzeCcgcnVuYXQ9J3NlcnZlcicgaWQ9J2xpbmtBcnF1aXZvJz5EaXNxdWUgRWNvbm9taWEgLSBEaWNpb25hcmlvIGRlIERhZG9zPC9hPjxzcGFuPiAoQXR1YWxpemFkbyBlbSAwNi8wOS8yMDE2KTwvc3Bhbj48L2xpPjxsaT48YSBocmVmPScvL211bHRpbWlkaWEuY3VyaXRpYmEucHIuZ292LmJyL2RhZG9zYWJlcnRvcy9EaXNxdWVFY29ub21pYS8yMDE4LTEwLTA4X0Rpc3F1ZV9FY29ub21pYV8tX1Byb2R1dG9fLV9CYXNlX2RlX0RhZG9zLmNzdicgb25DbGljaz0iZ2EoJ3NlbmQnLCAnZXZlbnQnLCAnRGFkb3MgQWJlcnRvcycsICdBcnF1aXZvIERpc3F1ZSBFY29ub21pYSAtIFByb2R1dG8gLSBCYXNlIGRlIERhZG9zJyk7IiBjbGFzcz0naWNvIGNzdicgcnVuYXQ9J3NlcnZlcicgaWQ9J2xpbmtBcnF1aXZvJz5EaXNxdWUgRWNvbm9taWEgLSBQcm9kdXRvIC0gQmFzZSBkZSBEYWRvczwvYT48c3Bhbj4gKEF0dWFsaXphZG8gZW0gMDgvMTAvMjAxOCk8L3NwYW4+PC9saT48bGk+PGEgaHJlZj0nLy9tdWx0aW1pZGlhLmN1cml0aWJhLnByLmdvdi5ici9kYWRvc2FiZXJ0b3MvRGlzcXVlRWNvbm9taWEvMjAxNi0wOS0wNl9EaXNxdWVfRWNvbm9taWFfLV9Qcm9kdXRvXy1fRGljaW9uYXJpb19kZV9EYWRvcy54bHN4JyBvbkNsaWNrPSJnYSgnc2VuZCcsICdldmVudCcsICdEYWRvcyBBYmVydG9zJywgJ0FycXVpdm8gRGlzcXVlIEVjb25vbWlhIC0gUHJvZHV0byAtIERpY2lvbmFyaW8gZGUgRGFkb3MnKTsiIGNsYXNzPSdpY28geGxzeCcgcnVuYXQ9J3NlcnZlcicgaWQ9J2xpbmtBcnF1aXZvJz5EaXNxdWUgRWNvbm9taWEgLSBQcm9kdXRvIC0gRGljaW9uYXJpbyBkZSBEYWRvczwvYT48c3Bhbj4gKEF0dWFsaXphZG8gZW0gMDYvMDkvMjAxNik8L3NwYW4+PC9saT48L3VsPmQCFQ8WAh8IBS88cCBjbGFzcz0nZXNwYWNvJz48c3Bhbj5IaXN0w7NyaWNvOiA8L3NwYW4+PC9wPmQCFw8WAh8IBfIBPHA+PGEgaHJlZj0naHR0cDovL2RhZG9zYWJlcnRvcy5jM3NsLnVmcHIuYnIvY3VyaXRpYmEvRGlzcXVlRWNvbm9taWEvJyB0YXJnZXQ9J19ibGFuaycgc3R5bGU9J3RleHQtZGVjb3JhdGlvbjogbm9uZTsnIG9uQ2xpY2s9ImdhKCdzZW5kJywgJ2V2ZW50JywgJ0RhZG9zIEFiZXJ0b3MnLCAnSGlzdMOzcmljbyBkYSBiYXNlIERpc3F1ZSBFY29ub21pYScpOyIgaWQ9J2xpbmtBcnF1aXZvJz5CYXNlIGRlIERhZG9zPC9hPjwvcD5kAhkPFgIfCAXyATxwPjxhIGhyZWY9J3JzeW5jOi8vZGFkb3NhYmVydG9zLmMzc2wudWZwci5ici9jdXJpdGliYS9EaXNxdWVFY29ub21pYS8nIHRhcmdldD0nX2JsYW5rJyBzdHlsZT0ndGV4dC1kZWNvcmF0aW9uOiBub25lOycgb25DbGljayA9ImdhKCdzZW5kJywgJ2V2ZW50JywgJ0RhZG9zIEFiZXJ0b3MnLCAnSGlzdMOzcmljbyB2aWEgUlN5bmMgRGlzcXVlIEVjb25vbWlhJyk7IiBpZD0nbGlua0FycXVpdm8nPlZpYSBSU3luYzwvYT48L3A+ZAIBD2QWGmYPFQEDMTU2ZAIDDxYCHwgFygJCYXNlIGRlIERhZG9zIGNvbnRlbmRvIGFzIHNvbGljaXRhw6fDtWVzIGdlcmFkYXMgbmEgQ2VudHJhbCAxNTYsIHByaW5jaXBhbCBjYW5hbCBkZSBjb211bmljYcOnw6NvIGVudHJlIG8gY2lkYWTDo28gZSBhIFByZWZlaXR1cmEgTXVuaWNpcGFsIGRlIEN1cml0aWJhLiBJbmNsdWkgdG9kYXMgYXMgZGVtYW5kYXMgZGlyZWNpb25hZGFzIMOgcyBTZWNyZXRhcmlhcyBlIMOTcmfDo29zIGRhIEFkbWluaXN0cmHDp8OjbyBNdW5pY2lwYWwuIEVzdGVzIGRhZG9zIHPDo28gb3JpdW5kb3MgZG8gIFNpc3RlbWEgSW50ZWdyYWRvIGRlIEF0ZW5kaW1lbnRvIGFvIENpZGFkw6NvIC0gU0lBQy5kAgUPFgIfCAURR292ZXJubyBNdW5pY2lwYWxkAgcPFgIfCAU6PHA+PHNwYW4+UmVzcG9uc8OhdmVsOjwvc3Bhbj4gIExlYW5kcm8gRmlzaGVyIGRlIFNvdXphPC9wPmQCCQ8WAh8IBTg8cD48c3Bhbj5GcmVxdcOqbmNpYSBkZSBhdHVhbGl6YcOnw6NvOiA8L3NwYW4+TWVuc2FsPC9wPmQCCw8WAh8IBTw8cD48c3Bhbj5Fc3BlY3RybyB0ZW1wb3JhbDo8L3NwYW4+ICDDmmx0aW1vcyB0csOqcyBtZXNlczwvcD5kAg0PFgIfCAUtPHA+PHNwYW4+R3J1cG9zOiA8L3NwYW4+R292ZXJubyBNdW5pY2lwYWw8L3A+ZAIPDxYCHwgFNzxwPjxzcGFuPkNhbXBvczogPC9zcGFuPlZlciBubyBkaWNpb27DoXJpbyBkZSBkYWRvczwvcD5kAhEPFgIfCAWDATxwPjxzcGFuPk9ic2VydmHDp8O1ZXM6PC9zcGFuPiAgVGVsZWZvbmUgcGFyYSBpbmZvcm1hw6fDtWVzIHNvYnJlIGEgYmFzZTogNDEgMzM1MC04MDI3LiBFLW1haWw6IGxmaXNoZXJAc2dtLmN1cml0aWJhLnByLmdvdi5ici48L3A+ZAITDxYCHwgFzwo8cCBjbGFzcz0nZXNwYWNvJz48c3Bhbj5EYWRvcyBlIHJlY3Vyc29zOjwvc3Bhbj48L3A+PHVsIGNsYXNzPSdpY29uZSc+PGxpPjxhIGhyZWY9Jy8vbXVsdGltaWRpYS5jdXJpdGliYS5wci5nb3YuYnIvZGFkb3NhYmVydG9zLzE1Ni8yMDE4LTEwLTAxXzE1Nl8tX0Jhc2VfZGVfRGFkb3MuY3N2JyBvbkNsaWNrPSJnYSgnc2VuZCcsICdldmVudCcsICdEYWRvcyBBYmVydG9zJywgJ0FycXVpdm8gMTU2IC0gQmFzZSBkZSBEYWRvcycpOyIgY2xhc3M9J2ljbyBjc3YnIHJ1bmF0PSdzZXJ2ZXInIGlkPSdsaW5rQXJxdWl2byc+MTU2IC0gQmFzZSBkZSBEYWRvczwvYT48c3Bhbj4gKEF0dWFsaXphZG8gZW0gMDEvMTAvMjAxOCk8L3NwYW4+PC9saT48bGk+PGEgaHJlZj0nLy9tdWx0aW1pZGlhLmN1cml0aWJhLnByLmdvdi5ici9kYWRvc2FiZXJ0b3MvMTU2LzIwMTUtMTEtMjZfMTU2Xy1fRGljaW9uYXJpb19kZV9EYWRvcy54bHN4JyBvbkNsaWNrPSJnYSgnc2VuZCcsICdldmVudCcsICdEYWRvcyBBYmVydG9zJywgJ0FycXVpdm8gMTU2IC0gRGljaW9uYXJpbyBkZSBEYWRvcycpOyIgY2xhc3M9J2ljbyB4bHN4JyBydW5hdD0nc2VydmVyJyBpZD0nbGlua0FycXVpdm8nPjE1NiAtIERpY2lvbmFyaW8gZGUgRGFkb3M8L2E+PHNwYW4+IChBdHVhbGl6YWRvIGVtIDI2LzExLzIwMTUpPC9zcGFuPjwvbGk+PGxpPjxhIGhyZWY9Jy8vbXVsdGltaWRpYS5jdXJpdGliYS5wci5nb3YuYnIvZGFkb3NhYmVydG9zLzE1Ni8yMDE4LTEwLTAxXzE1Nl8tX0hpc3Rvcmljb18tX0Jhc2VfZGVfRGFkb3MuY3N2JyBvbkNsaWNrPSJnYSgnc2VuZCcsICdldmVudCcsICdEYWRvcyBBYmVydG9zJywgJ0FycXVpdm8gMTU2IC0gSGlzdG9yaWNvIC0gQmFzZSBkZSBEYWRvcycpOyIgY2xhc3M9J2ljbyBjc3YnIHJ1bmF0PSdzZXJ2ZXInIGlkPSdsaW5rQXJxdWl2byc+MTU2IC0gSGlzdG9yaWNvIC0gQmFzZSBkZSBEYWRvczwvYT48c3Bhbj4gKEF0dWFsaXphZG8gZW0gMDEvMTAvMjAxOCk8L3NwYW4+PC9saT48bGk+PGEgaHJlZj0nLy9tdWx0aW1pZGlhLmN1cml0aWJhLnByLmdvdi5ici9kYWRvc2FiZXJ0b3MvMTU2LzIwMTYtMDItMTdfMTU2Xy1fSGlzdG9yaWNvXy1fRGljaW9uYXJpb19kZV9EYWRvcy54bHN4JyBvbkNsaWNrPSJnYSgnc2VuZCcsICdldmVudCcsICdEYWRvcyBBYmVydG9zJywgJ0FycXVpdm8gMTU2IC0gSGlzdG9yaWNvIC0gRGljaW9uYXJpbyBkZSBEYWRvcycpOyIgY2xhc3M9J2ljbyB4bHN4JyBydW5hdD0nc2VydmVyJyBpZD0nbGlua0FycXVpdm8nPjE1NiAtIEhpc3RvcmljbyAtIERpY2lvbmFyaW8gZGUgRGFkb3M8L2E+PHNwYW4+IChBdHVhbGl6YWRvIGVtIDE3LzAyLzIwMTYpPC9zcGFuPjwvbGk+PC91bD5kAhUPFgIfCAUvPHAgY2xhc3M9J2VzcGFjbyc+PHNwYW4+SGlzdMOzcmljbzogPC9zcGFuPjwvcD5kAhcPFgIfCAXbATxwPjxhIGhyZWY9J2h0dHA6Ly9kYWRvc2FiZXJ0b3MuYzNzbC51ZnByLmJyL2N1cml0aWJhLzE1Ni8nIHRhcmdldD0nX2JsYW5rJyBzdHlsZT0ndGV4dC1kZWNvcmF0aW9uOiBub25lOycgb25DbGljaz0iZ2EoJ3NlbmQnLCAnZXZlbnQnLCAnRGFkb3MgQWJlcnRvcycsICdIaXN0w7NyaWNvIGRhIGJhc2UgMTU2Jyk7IiBpZD0nbGlua0FycXVpdm8nPkJhc2UgZGUgRGFkb3M8L2E+PC9wPmQCGQ8WAh8IBdsBPHA+PGEgaHJlZj0ncnN5bmM6Ly9kYWRvc2FiZXJ0b3MuYzNzbC51ZnByLmJyL2N1cml0aWJhLzE1Ni8nIHRhcmdldD0nX2JsYW5rJyBzdHlsZT0ndGV4dC1kZWNvcmF0aW9uOiBub25lOycgb25DbGljayA9ImdhKCdzZW5kJywgJ2V2ZW50JywgJ0RhZG9zIEFiZXJ0b3MnLCAnSGlzdMOzcmljbyB2aWEgUlN5bmMgMTU2Jyk7IiBpZD0nbGlua0FycXVpdm8nPlZpYSBSU3luYzwvYT48L3A+ZAICD2QWGmYPFQEQQmFzZSBkZSBBbHZhcsOhc2QCAw8WAh8IBXBSZWxhw6fDo28gZGUgYWx2YXLDoXMgcGFyYSBsaWJlcmHDp8OjbyBkZSBhdGl2aWRhZGVzIGNvbWVyY2lhcyBlIGVkaWZpY2HDp8O1ZXMgZGVudHJvIGRvIG11bmljw61waW8gZGUgQ3VyaXRpYmEuZAIFDxYCHwgFCUZpbmFuw6dhc2QCBw8WAh8IBTE8cD48c3Bhbj5SZXNwb25zw6F2ZWw6PC9zcGFuPiAgSm/Do28gTHVpeiBQYWs8L3A+ZAIJDxYCHwgFODxwPjxzcGFuPkZyZXF1w6puY2lhIGRlIGF0dWFsaXphw6fDo286IDwvc3Bhbj5NZW5zYWw8L3A+ZAILDxYCHwgFUTxwPjxzcGFuPkVzcGVjdHJvIHRlbXBvcmFsOjwvc3Bhbj4gIEFsdmFyw6FzIGF0aXZvcyBhdMOpIGEgZGF0YSBkYSBFeHRyYcOnw6NvPC9wPmQCDQ8WAh8IBSY8cD48c3Bhbj5HcnVwb3M6IDwvc3Bhbj5GaW5hbmNlaXJvPC9wPmQCDw8WAh8IBTc8cD48c3Bhbj5DYW1wb3M6IDwvc3Bhbj5WZXIgbm8gZGljaW9uw6FyaW8gZGUgZGFkb3M8L3A+ZAIRDxYCHwgFgAE8cD48c3Bhbj5PYnNlcnZhw6fDtWVzOjwvc3Bhbj4gIFRlbGVmb25lIHBhcmEgaW5mb3JtYcOnw7VlcyBzb2JyZSBhIGJhc2U6IDQxIDMzNTAtODM1Ny4gRS1tYWlsOiBqcGFrQHNtZi5jdXJpdGliYS5wci5nb3YuYnIuPC9wPmQCEw8WAh8IBcMFPHAgY2xhc3M9J2VzcGFjbyc+PHNwYW4+RGFkb3MgZSByZWN1cnNvczo8L3NwYW4+PC9wPjx1bCBjbGFzcz0naWNvbmUnPjxsaT48YSBocmVmPScvL211bHRpbWlkaWEuY3VyaXRpYmEucHIuZ292LmJyL2RhZG9zYWJlcnRvcy9CYXNlQWx2YXJhcy8yMDE4LTEwLTAxX0FsdmFyYXMtQmFzZV9kZV9EYWRvcy5DU1YnIG9uQ2xpY2s9ImdhKCdzZW5kJywgJ2V2ZW50JywgJ0RhZG9zIEFiZXJ0b3MnLCAnQXJxdWl2byBBbHZhcmFzLUJhc2UgZGUgRGFkb3MnKTsiIGNsYXNzPSdpY28gY3N2JyBydW5hdD0nc2VydmVyJyBpZD0nbGlua0FycXVpdm8nPkFsdmFyYXMtQmFzZSBkZSBEYWRvczwvYT48c3Bhbj4gKEF0dWFsaXphZG8gZW0gMDEvMTAvMjAxOCk8L3NwYW4+PC9saT48bGk+PGEgaHJlZj0nLy9tdWx0aW1pZGlhLmN1cml0aWJhLnByLmdvdi5ici9kYWRvc2FiZXJ0b3MvQmFzZUFsdmFyYXMvMjAxNS0wNS0wNl9BbHZhcmFzLURpY2lvbmFyaW9fZGVfRGFkb3MuY3N2JyBvbkNsaWNrPSJnYSgnc2VuZCcsICdldmVudCcsICdEYWRvcyBBYmVydG9zJywgJ0FycXVpdm8gQWx2YXJhcy1EaWNpb25hcmlvIGRlIERhZG9zJyk7IiBjbGFzcz0naWNvIGNzdicgcnVuYXQ9J3NlcnZlcicgaWQ9J2xpbmtBcnF1aXZvJz5BbHZhcmFzLURpY2lvbmFyaW8gZGUgRGFkb3M8L2E+PHNwYW4+IChBdHVhbGl6YWRvIGVtIDA2LzA1LzIwMTUpPC9zcGFuPjwvbGk+PC91bD5kAhUPFgIfCAUvPHAgY2xhc3M9J2VzcGFjbyc+PHNwYW4+SGlzdMOzcmljbzogPC9zcGFuPjwvcD5kAhcPFgIfCAXwATxwPjxhIGhyZWY9J2h0dHA6Ly9kYWRvc2FiZXJ0b3MuYzNzbC51ZnByLmJyL2N1cml0aWJhL0Jhc2VBbHZhcmFzLycgdGFyZ2V0PSdfYmxhbmsnIHN0eWxlPSd0ZXh0LWRlY29yYXRpb246IG5vbmU7JyBvbkNsaWNrPSJnYSgnc2VuZCcsICdldmVudCcsICdEYWRvcyBBYmVydG9zJywgJ0hpc3TDs3JpY28gZGEgYmFzZSBCYXNlIGRlIEFsdmFyw6FzJyk7IiBpZD0nbGlua0FycXVpdm8nPkJhc2UgZGUgRGFkb3M8L2E+PC9wPmQCGQ8WAh8IBfABPHA+PGEgaHJlZj0ncnN5bmM6Ly9kYWRvc2FiZXJ0b3MuYzNzbC51ZnByLmJyL2N1cml0aWJhL0Jhc2VBbHZhcmFzLycgdGFyZ2V0PSdfYmxhbmsnIHN0eWxlPSd0ZXh0LWRlY29yYXRpb246IG5vbmU7JyBvbkNsaWNrID0iZ2EoJ3NlbmQnLCAnZXZlbnQnLCAnRGFkb3MgQWJlcnRvcycsICdIaXN0w7NyaWNvIHZpYSBSU3luYyBCYXNlIGRlIEFsdmFyw6FzJyk7IiBpZD0nbGlua0FycXVpdm8nPlZpYSBSU3luYzwvYT48L3A+ZAIQDw8WCh4PcmVzdWx0UG9yUGFnaW5hAgMeC3BhZ2luYUF0dWFsAgEeD3RvdGFsUmVzdWx0YWRvcwIUHgxwYWdpbmFJbmljaW8CAR4MdG90YWxQYWdpbmFzBwAAAAAAABxAZBYCAgIPPCsAEQIADxYKHhNBdXRvR2VuZXJhdGVDb2x1bW5zZx4LQWxsb3dQYWdpbmdnHghQYWdlU2l6ZQIDHwVnHwwCFGQMFCsAARYGHgRUeXBlGSsBHgROYW1lBQRJdGVtHglEYXRhRmllbGQFASEWAmYPZBYIAgEPZBYCZg8PFgIfCAUBMGRkAgIPZBYCZg8PFgIfCAUBMWRkAgMPZBYCZg8PFgIfCAUBMmRkAgQPDxYCHwpoZGQYAQUuY3RsMDAkY3BoTWFzdGVyUG9ydGFsJHVjUGFnaW5hZG9yJGdkdlBhZ2luYWNhbw88KwAMAQgCB2Sz568BOBcOiEaa5Za8P1MVEtgwVA=='

In [9]:
pagination = page.find_all(class_='paginacao2')
pagination = list(pagination[0].text.replace('\n', ''))

In [10]:
pagination

['1', '2', '3', '4', '5', '6', '7']

In [11]:
pages = ""
for page in pagination:
    data = {
        "__EVENTTARGET": f"ctl00$cphMasterPortal$ucPaginador${page}_pg{page}",
        "__EVENTVALIDATION": __EVENTVALIDATION,
        "__VIEWSTATE": __VIEWSTATE
    }
    
    r = requests.request("POST", base_url, data=data)
    pages = pages + r.text

In [12]:
md5 = lambda s : hashlib.md5(s.encode('utf-8')).hexdigest()

In [13]:
md5('test')

'098f6bcd4621d373cade4e832627b4f6'

In [14]:
a_tags = BeautifulSoup(pages, 'html.parser').find_all(id='linkArquivo')

In [15]:
print(md5(a_tags[0].text))

979df6ebc2280f5c834cc3dff183df24

In [16]:
date_regex = re.compile('\d{4}-\d{2}-\d{2}')

In [17]:
date_string = date_regex.search('//multimidia.curitiba.pr.gov.br/dadosabertos/SESPAMedicoUnidadesMunicipaisDeSaude/2018-10-10_Sistema_E-Saude_Medicos_-_Base_de_Dados.csv').group()
date = datetime.date(*map(int, date_string.split('-')))
date

datetime.date(2018, 10, 10)

In [20]:
databases = []
for a_tag in tqdm.tqdm(a_tags):
    database_link = 'http://'+a_tag.get('href')[2:]
    
    if database_link[-4:] == '.csv':
        database_id = md5(a_tag.text)
        database_title = a_tag.text

        database_date_string = date_regex.search(database_link).group()
        database_date = datetime.date(*map(int, database_date_string.split('-')))

        database = {
            'database_id': database_id,
            'database_title': database_title,
            'database_link': database_link,
            'database_date': database_date
        }
        
        databases.append(database)

100%|██████████| 172/172 [00:00<00:00, 59420.17it/s]

In [21]:
databases

[{'database_id': '979df6ebc2280f5c834cc3dff183df24',
  'database_title': 'Disque Economia - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/DisqueEconomia/2018-10-08_Disque_Economia_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 8)},
 {'database_id': '203db94be8f280e2c9911f44dfcf2685',
  'database_title': 'Disque Economia - Produto - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/DisqueEconomia/2018-10-08_Disque_Economia_-_Produto_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 8)},
 {'database_id': '66b0019727446b81e6667622e30b2874',
  'database_title': '156 - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/156/2018-10-01_156_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 1)},
 {'database_id': 'fcd48779a785811b55d386a5f9863c10',
  'database_title': '156 - Historico - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/156/2018-10-01_156_-_Historico_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 1)},
 {'database_id': '91b5d868a8ec96fc18d3d3f0e322a804',
  'database_title': 'Alvaras-Dicionario de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/BaseAlvaras/2015-05-06_Alvaras-Dicionario_de_Dados.csv',
  'database_date': datetime.date(2015, 5, 6)},
 {'database_id': 'f7e8a635bfa59039b7853027a2956c85',
  'database_title': 'Despesas - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/BaseReceitaDespesa/2018-10-01_Despesas_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 1)},
 {'database_id': 'd9a2b67fd5f1799e443d1971b585f946',
  'database_title': 'Receitas - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/BaseReceitaDespesa/2018-10-01_Receitas_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 1)},
 {'database_id': '1f4845ca75ae633e77bf2742390d64a6',
  'database_title': 'Servidores Cargos Encargos - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/ServidoresCargosEncargos/2018-10-05_Servidores_Cargos_Encargos_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 5)},
 {'database_id': '43b75d2946867b038517b32edd29fc20',
  'database_title': 'Unidades Atendimento Ativas Curitiba - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/UnidadesAtendimentoCuritiba/2018-10-09_Unidades_Atendimento_Ativas_Curitiba_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 9)},
 {'database_id': '3c76ee433184c23533b1e1a6e03ccb62',
  'database_title': 'FILA - Base De Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/PretendentesCohab/2018-03-12_FILA_-_Base De Dados.csv',
  'database_date': datetime.date(2018, 3, 12)},
 {'database_id': '8b0733db2045af8b2b117a707c01e1f1',
  'database_title': 'Sistema E-Saude Medicos - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/SESPAMedicoUnidadesMunicipaisDeSaude/2018-10-10_Sistema_E-Saude_Medicos_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 10)},
 {'database_id': 'f796c79adbe0ac5460a9a3cb32fdcfc0',
  'database_title': 'Sistema E-Saude Medicos - Dicionario de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/SESPAMedicoUnidadesMunicipaisDeSaude/2016-10-11_Sistema_E-Saude_Medicos_-_Dicionario_de_Dados.csv',
  'database_date': datetime.date(2016, 10, 11)},
 {'database_id': '71dafcc28761b1972577aa087fffb037',
  'database_title': 'Sistema E-Saude Enfermagem - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/sespaenfermagem/2018-10-10_Sistema_E-Saude_Enfermagem_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 10)},
 {'database_id': '58ca12bfc67f1108e42bee4b51768c1a',
  'database_title': 'Sistema E-Saude Enfermagem - Dicionario de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/sespaenfermagem/2016-10-11_Sistema_E-Saude_Enfermagem_-_Dicionario_de_Dados.csv',
  'database_date': datetime.date(2016, 10, 11)},
 {'database_id': '81715ca84e69c56dbff1808f7e4e703a',
  'database_title': 'Sistema E-Saude Odontologico - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/sespaodontologico/2018-10-10_Sistema_E-Saude_Odontologico_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 10)},
 {'database_id': 'd34c3b367078452a62290e2b06d6f995',
  'database_title': 'Sistema E-Saude Odontologico - Dicionario de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/sespaodontologico/2017-01-09_Sistema_E-Saude_Odontologico_-_Dicionario_de_Dados.csv',
  'database_date': datetime.date(2017, 1, 9)},
 {'database_id': '2b1def7de83631a562bf872d80c879cf',
  'database_title': 'Sistema E-Saude Outros Niveis Superior - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/SESPAOutrosProfissionaisDeNivelSuperior/2018-10-10_Sistema_E-Saude_Outros_Niveis_Superior_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 10)},
 {'database_id': '1af25a5dd17aedf6bab1c33445b527fe',
  'database_title': 'Sistema E-Saude Outros Niveis Superior - Dicionario de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/SESPAOutrosProfissionaisDeNivelSuperior/2016-10-11_Sistema_E-Saude_Outros_Niveis_Superior_-_Dicionario_de_Dados.csv',
  'database_date': datetime.date(2016, 10, 11)},
 {'database_id': 'c3d7c7962b0f35bdb3a4f1561341db99',
  'database_title': 'legisladoc - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/Legisladoc/2018-10-12_legisladoc_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 12)},
 {'database_id': 'cc95f0c6b2586dc86799995612ed3f0f',
  'database_title': 'sigesguarda - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/Sigesguarda/2018-10-01_sigesguarda_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 1)},
 {'database_id': '58523cf9d504bccd5544356dbf6ca665',
  'database_title': 'imapaprendere - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/IMAPAprendere/2018-10-01_imapaprendere_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 1)},
 {'database_id': '2d1c91001f68cea6a00114f40f12a5a0',
  'database_title': 'Oficina de Musica - Categoria Nucleo - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/OficinaMusica/2018-03-01_Oficina_de_Musica_-_Categoria_Nucleo_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 3, 1)},
 {'database_id': '3980d747bc21fca2e6b89276189cedd0',
  'database_title': 'Oficina de Musica - Curso - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/OficinaMusica/2018-03-01_Oficina_de_Musica_-_Curso_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 3, 1)},
 {'database_id': 'd05dbc3b7fe240cbcba64dab1bc98ff7',
  'database_title': 'Oficina de Musica - Espaco - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/OficinaMusica/2018-03-01_Oficina_de_Musica_-_Espaco_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 3, 1)},
 {'database_id': 'fc8c0be0b3306e1f8999892cc009ff58',
  'database_title': 'Oficina de Musica - Evento - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/OficinaMusica/2018-03-01_Oficina_de_Musica_-_Evento_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 3, 1)},
 {'database_id': 'd4461be0b6d5d7b87ecce9461346e270',
  'database_title': 'Oficina de Musica - Nucleo - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/OficinaMusica/2018-03-01_Oficina_de_Musica_-_Nucleo_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 3, 1)},
 {'database_id': '3140fed903c9d3ed4b6c66b8a963c113',
  'database_title': 'Oficina de Musica - Oficina - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/OficinaMusica/2018-03-01_Oficina_de_Musica_-_Oficina_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 3, 1)},
 {'database_id': 'a1b7112e8949631ca03e631e7d9eaf6a',
  'database_title': 'Oficina de Musica - Professor - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/OficinaMusica/2018-03-01_Oficina_de_Musica_-_Professor_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 3, 1)},
 {'database_id': '3a30afd64617bc4a4df807b5393a8e61',
  'database_title': 'Oficina de Musica - Turma - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/OficinaMusica/2018-03-01_Oficina_de_Musica_-_Turma_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 3, 1)},
 {'database_id': '883f87b5391b93bfd181ecb7ed1dd688',
  'database_title': 'Fundacao Cultural - Area - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/FundacaoCultural/2018-10-01_Fundacao_Cultural_-_Area_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 1)},
 {'database_id': 'ad61f7b5429a3791e2b3bc34b35601fc',
  'database_title': 'Fundacao Cultural - Bairro - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/FundacaoCultural/2018-10-01_Fundacao_Cultural_-_Bairro_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 1)},
 {'database_id': '4ce69fb54435e4827cb990a5cec93740',
  'database_title': 'Fundacao Cultural - Categoria Lei do Incentivo - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/FundacaoCultural/2018-10-01_Fundacao_Cultural_-_Categoria_Lei_do_Incentivo_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 1)},
 {'database_id': 'c8ca278a504d09dd7b7acfd691e1cc37',
  'database_title': 'Fundacao Cultural - Conteudo Lei do Incentivo - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/FundacaoCultural/2018-10-01_Fundacao_Cultural_-_Conteudo_Lei_do_Incentivo_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 1)},
 {'database_id': 'cb8598fe2cc5a5b0d69b61ebd1d71788',
  'database_title': 'Fundacao Cultural - Curso - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/FundacaoCultural/2018-10-01_Fundacao_Cultural_-_Curso_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 1)},
 {'database_id': '7b7acbefe17b14c82e625e64d108cce2',
  'database_title': 'Fundacao Cultural - Edital - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/FundacaoCultural/2018-10-01_Fundacao_Cultural_-_Edital_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 1)},
 {'database_id': '257589b77139d3b6f82d772e08b5c6a3',
  'database_title': 'Fundacao Cultural - Endereco - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/FundacaoCultural/2018-10-01_Fundacao_Cultural_-_Endereco_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 1)},
 {'database_id': '2a876108db270dc8f3142428fe1c4a2b',
  'database_title': 'Fundacao Cultural - Espaco - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/FundacaoCultural/2018-10-01_Fundacao_Cultural_-_Espaco_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 1)},
 {'database_id': '8280bf1bf0c01bdc56cb6abe67657bc7',
  'database_title': 'Fundacao Cultural - Evento - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/FundacaoCultural/2018-10-01_Fundacao_Cultural_-_Evento_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 1)},
 {'database_id': 'd8840a1e2f27c904822d194ac7e3e983',
  'database_title': 'Fundacao Cultural - Evento Data - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/FundacaoCultural/2018-10-01_Fundacao_Cultural_-_Evento_Data_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 1)},
 {'database_id': '5ea9ecd03be664dc9161884b9f5a8153',
  'database_title': 'Fundacao Cultural - Formulario - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/FundacaoCultural/2018-10-01_Fundacao_Cultural_-_Formulario_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 1)},
 {'database_id': 'ea3ff7b9aeb2281b743dbc70a4d844da',
  'database_title': 'Fundacao Cultural - Formulario Campo - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/FundacaoCultural/2018-10-01_Fundacao_Cultural_-_Formulario_Campo_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 1)},
 {'database_id': '96e4678276665ef7d7ef51ce6349ea21',
  'database_title': 'Fundacao Cultural - Nucleo - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/FundacaoCultural/2018-10-01_Fundacao_Cultural_-_Nucleo_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 1)},
 {'database_id': '505d6928d3d914d6a8f2b60f93279342',
  'database_title': 'Eventos - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/agendapmc/2018-10-12_Eventos_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 12)},
 {'database_id': 'd50a4a71caff5d8508db98202652768a',
  'database_title': 'Sigmu - CARACTERISTICA GEO - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/sigmu/2018-10-12_Sigmu_-_CARACTERISTICA_GEO_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 12)},
 {'database_id': '713ba73fc42ddaf0acca10826329ae20',
  'database_title': 'Sigmu - CATEGORIA MAO OBRA - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/sigmu/2018-10-12_Sigmu_-_CATEGORIA_MAO_OBRA_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 12)},
 {'database_id': 'a2ef33633d3ac755702b08009147d4bd',
  'database_title': 'Sigmu - CLASSIFICACAO INTERVENCAO - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/sigmu/2018-10-12_Sigmu_-_CLASSIFICACAO_INTERVENCAO_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 12)},
 {'database_id': '09099c0fb5e6f58f9b80e946cc3d9a56',
  'database_title': 'Sigmu - CUSTO SERVICO - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/sigmu/2018-10-12_Sigmu_-_CUSTO_SERVICO_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 12)},
 {'database_id': 'ab47f5563d753df1139e834264287e97',
  'database_title': 'Sigmu - DESCRICAO SERVICO - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/sigmu/2018-10-12_Sigmu_-_DESCRICAO_SERVICO_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 12)},
 {'database_id': '0857dda12a821e37cca9a8e0b919a221',
  'database_title': 'Sigmu - EMPRESA - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/sigmu/2018-10-12_Sigmu_-_EMPRESA_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 12)},
 {'database_id': 'ae43391dbc3931660ec5d5f2110496c9',
  'database_title': 'Sigmu - EQUIPE EXECUTORA - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/sigmu/2018-10-12_Sigmu_-_EQUIPE_EXECUTORA_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 12)},
 {'database_id': 'e14324ad76ce6bf71c66311b89da8c19',
  'database_title': 'Sigmu - EQUIPE VEICULO - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/sigmu/2018-10-12_Sigmu_-_EQUIPE_VEICULO_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 12)},
 {'database_id': 'd63444ceb9f11202be2b2fb8a0ff4ebe',
  'database_title': 'Sigmu - EXECUTOR ADMREGIONAL - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/sigmu/2018-10-12_Sigmu_-_EXECUTOR_ADMREGIONAL_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 12)},
 {'database_id': 'f7645bb4ab1e0a65231e26234d70a6b7',
  'database_title': 'Sigmu - GRUPO - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/sigmu/2018-10-12_Sigmu_-_GRUPO_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 12)},
 {'database_id': '850861d4d9efeaf71a8b386d153d7439',
  'database_title': 'Sigmu - GTMBAIBAIRRO - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/sigmu/2018-10-12_Sigmu_-_GTMBAIBAIRRO_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 12)},
 {'database_id': '5fa415a503a467a713d87ed1adb76523',
  'database_title': 'Sigmu - GTMLOGLOGRADOURO - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/sigmu/2018-10-12_Sigmu_-_GTMLOGLOGRADOURO_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 12)},
 {'database_id': '0dec2f8c57ccc20784e932b5ff2a3a80',
  'database_title': 'Sigmu - GTMTLGTIPO LOGRADOURO - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/sigmu/2018-10-12_Sigmu_-_GTMTLGTIPO_LOGRADOURO_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 12)},
 {'database_id': '02506c984358d4b2f33b3b54b631a57d',
  'database_title': 'Sigmu - IMPORTACAO SOLICITACAO - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/sigmu/2018-10-12_Sigmu_-_IMPORTACAO_SOLICITACAO_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 12)},
 {'database_id': '2ae4353621256a383340221ec6a40863',
  'database_title': 'Sigmu - INTERVENCAO SERVICO - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/sigmu/2018-10-12_Sigmu_-_INTERVENCAO_SERVICO_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 12)},
 {'database_id': '050b3e0f40b1a3c180fb3f488b0c2a48',
  'database_title': 'Sigmu - INTERVENCAO TIPO SERVICO - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/sigmu/2018-10-12_Sigmu_-_INTERVENCAO_TIPO_SERVICO_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 12)},
 {'database_id': 'f79fab6f64cdf22fb57318a4acdb837a',
  'database_title': 'Sigmu - MAO OBRA - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/sigmu/2018-10-12_Sigmu_-_MAO_OBRA_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 12)},
 {'database_id': '19a753288fdaba838c5d057a8f1571db',
  'database_title': 'Sigmu - MATERIAL - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/sigmu/2018-10-12_Sigmu_-_MATERIAL_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 12)},
 {'database_id': '9e00bb2e962120c8cdd98bb78bb43339',
  'database_title': 'Sigmu - MOTIVO - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/sigmu/2018-10-12_Sigmu_-_MOTIVO_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 12)},
 {'database_id': '2438a750d34c03d31fca92ab9ff2a2b3',
  'database_title': 'Sigmu - ORIGEM SOLICITACAO - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/sigmu/2018-10-12_Sigmu_-_ORIGEM_SOLICITACAO_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 12)},
 {'database_id': '19ffa51ce2f9239960efd92d6d9d0c5c',
  'database_title': 'Sigmu - PERFIL USUARIO - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/sigmu/2018-10-12_Sigmu_-_PERFIL_USUARIO_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 12)},
 {'database_id': '078de05a09ad49b3d2c21edf2dab1a48',
  'database_title': 'Sigmu - PERIODO PENDENCIA - Base de Dados',
  'database_link': 'http://multimidia.curitiba.pr.gov.br/dadosabertos/sigmu/2018-10-12_Sigmu_-_PERIODO_PENDENCIA_-_Base_de_Dados.csv',
  'database_date': datetime.date(2018, 10, 12)},

In [26]:
from IPython.display import display, HTML

In [34]:
for database in tqdm.tqdm(databases):
    try:
        data = pd.read_csv(database['database_link'], encoding="ISO-8859-1", delimiter=';', error_bad_lines=False, warn_bad_lines=False)
        head = data.fillna('').head()

        display(HTML(f'<h2>{database["database_title"]}</h2>'))
        display(HTML(head.to_html()))
    except:
        display(HTML(f'<h2 style="color: red">Error on: {database["database_title"]}</h2>'))

  0%|          | 0/92 [00:00<?, ?it/s]

  1%|          | 1/92 [00:27<42:22, 27.94s/it]

  2%|▏         | 2/92 [00:28<21:06, 14.07s/it]

  3%|▎         | 3/92 [00:45<22:26, 15.13s/it]

  4%|▍         | 4/92 [00:49<18:04, 12.32s/it]

  7%|▋         | 6/92 [00:53<12:42,  8.86s/it]

  8%|▊         | 7/92 [00:58<11:48,  8.33s/it]

  9%|▊         | 8/92 [01:09<12:13,  8.73s/it]

 10%|▉         | 9/92 [01:11<10:56,  7.91s/it]

 11%|█         | 10/92 [01:33<12:49,  9.39s/it]

 12%|█▏        | 11/92 [04:19<31:49, 23.57s/it]

 13%|█▎        | 12/92 [04:19<28:52, 21.65s/it]

 14%|█▍        | 13/92 [05:33<33:49, 25.69s/it]

 15%|█▌        | 14/92 [05:34<31:01, 23.87s/it]

 16%|█▋        | 15/92 [05:34<28:36, 22.29s/it]

 17%|█▋        | 16/92 [05:34<26:28, 20.91s/it]

 18%|█▊        | 17/92 [05:40<25:00, 20.01s/it]

 21%|██        | 19/92 [07:36<29:12, 24.00s/it]

 22%|██▏       | 20/92 [07:53<28:24, 23.67s/it]

 23%|██▎       | 21/92 [07:54<26:44, 22.60s/it]

 26%|██▌       | 24/92 [07:54<22:24, 19.78s/it]

 27%|██▋       | 25/92 [07:54<21:12, 18.99s/it]

 28%|██▊       | 26/92 [07:54<20:05, 18.27s/it]

 29%|██▉       | 27/92 [07:55<19:03, 17.60s/it]

 30%|███       | 28/92 [07:55<18:06, 16.98s/it]

 33%|███▎      | 30/92 [07:55<16:22, 15.85s/it]

 34%|███▎      | 31/92 [07:55<15:36, 15.35s/it]

 36%|███▌      | 33/92 [07:56<14:11, 14.43s/it]

 37%|███▋      | 34/92 [07:56<13:32, 14.01s/it]

 38%|███▊      | 35/92 [07:56<12:56, 13.62s/it]

 39%|███▉      | 36/92 [07:57<12:22, 13.25s/it]

 40%|████      | 37/92 [07:57<11:49, 12.90s/it]

 41%|████▏     | 38/92 [07:58<11:19, 12.59s/it]

 42%|████▏     | 39/92 [07:59<10:51, 12.29s/it]

 43%|████▎     | 40/92 [07:59<10:23, 11.98s/it]

 46%|████▌     | 42/92 [07:59<09:30, 11.41s/it]

 49%|████▉     | 45/92 [07:59<08:21, 10.67s/it]

 51%|█████     | 47/92 [08:00<07:40, 10.23s/it]

 52%|█████▏    | 48/92 [08:01<07:21, 10.03s/it]

 53%|█████▎    | 49/92 [08:01<07:02,  9.83s/it]

 54%|█████▍    | 50/92 [08:09<06:51,  9.79s/it]

 55%|█████▌    | 51/92 [08:09<06:33,  9.61s/it]

 59%|█████▊    | 54/92 [08:10<05:44,  9.08s/it]

 60%|█████▉    | 55/92 [08:12<05:31,  8.95s/it]

 62%|██████▏   | 57/92 [08:13<05:02,  8.65s/it]

 63%|██████▎   | 58/92 [08:13<04:49,  8.51s/it]

 64%|██████▍   | 59/92 [08:13<04:36,  8.37s/it]

 66%|██████▋   | 61/92 [08:13<04:10,  8.10s/it]

 67%|██████▋   | 62/92 [08:14<03:59,  7.97s/it]

 68%|██████▊   | 63/92 [08:14<03:47,  7.85s/it]

 71%|███████   | 65/92 [08:19<03:27,  7.69s/it]

 72%|███████▏  | 66/92 [08:22<03:17,  7.61s/it]

 74%|███████▍  | 68/92 [08:22<02:57,  7.39s/it]

 75%|███████▌  | 69/92 [08:22<02:47,  7.28s/it]

 76%|███████▌  | 70/92 [08:22<02:38,  7.18s/it]

 77%|███████▋  | 71/92 [08:37<02:33,  7.29s/it]

 78%|███████▊  | 72/92 [08:50<02:27,  7.36s/it]

 79%|███████▉  | 73/92 [08:59<02:20,  7.40s/it]

 80%|████████  | 74/92 [09:02<02:12,  7.33s/it]

 82%|████████▏ | 75/92 [09:18<02:06,  7.45s/it]

 83%|████████▎ | 76/92 [09:32<02:00,  7.53s/it]

 84%|████████▎ | 77/92 [09:32<01:51,  7.44s/it]

 86%|████████▌ | 79/92 [09:44<01:36,  7.39s/it]

 87%|████████▋ | 80/92 [09:44<01:27,  7.30s/it]

 88%|████████▊ | 81/92 [09:50<01:20,  7.29s/it]

 90%|█████████ | 83/92 [09:50<01:04,  7.11s/it]

 93%|█████████▎| 86/92 [09:50<00:41,  6.86s/it]

 96%|█████████▌| 88/92 [09:50<00:26,  6.71s/it]

 98%|█████████▊| 90/92 [09:51<00:13,  6.57s/it]

 99%|█████████▉| 91/92 [09:51<00:06,  6.50s/it]

100%|██████████| 92/92 [09:51<00:00,  6.43s/it]